*, html,body{
	margin: 0;
	padding: 0;
}
body{
	height: 3000px;
}
header{
	background-color: grey;
	height: 112px;
	line-height: 112px;
	position: fixed;
	z-index: 1;
	width: 100%;

}
ul{
	list-style: none;
}
ul li{
	display: inline-block;
}
header nav{
	float: right;
}
.logo img{
	margin-top: 30px;
}
header nav ul li a{
	padding-right: 30px;
	font-weight: bold;
	color: white;
	transition: all 0.5s ease-in;
}
header nav ul li a:hover 
{
	text-decoration: none;
	color: blue;

	
}
.img1{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images/bgg.jpg);
	background-size: 100% 100%;

}
.img2{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images/img2.jpg);
	background-size: 100% 100%;
}
.img3{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images/img3.jpg);
	background-size: 100% 100%;
}
.slider,.slider ul, .slider ul li {
	height: 710px;
	width: 100%;
	color: white;
	text-align: center;


}
.secondary{
	background-color: darkblue;
	box-shadow: 0px 0px 17px 0px;
	transition: all 0.5s ease-in ;
}
.slider h2{
	font-weight: bold;
	margin-top: 350px;
	margin-left: 400px;
}
.slider span{
	color: yellow;
	font-weight: bold;
	margin-left: 400px;
}
.slider a{
	padding: 10px 40px;
	margin-right: 10px;
	margin-left: 400px;

}
.slider a.btn-half{
	background-color: grey;
	color: black;
	margin-left: 400px;
	font-weight:  bolder;
}
.slider a.btn-full{
	background-color: grey;
	color: black;
	margin-left: 400px;
	font-weight:  bolder;

}
.slider p {
	margin-left: 400px;
	color: orange;
}
.slider a.btn-half:hover{
	opacity: 0.8 ease-in;
	background-color: yellow;
}
.slider a.btn-full:hover{
	opacity: 0.8 ease-in;
	background-color: yellow;
}
.intro-area{
	position: relative;
	padding: 100px 0px;
	text-align: center;
}
.sub-heading{
	position: relative;
	margin-bottom: 75px;

}
.sub-heading:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left:-3%;
	width: 6%;
	height: 1px;
	background-color: green;
	z-index: 1;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	 transition: 0.3s ease;
}
.sub-heading:hover:before{
	width: 24%;
	margin-left: -12px;

}
.sub-heading:after{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 1px;
	background-color: #e1e1e1;
	
}
.sub-heading p{
	color: #818181;
	display: inline-block;
	padding: 0px 0px 20px;
	position: relative;
	line-height: 24px;
	letter-spacing: 0.025em;

}
.intro-block{
	position: relative;
	background-color: grey;
	margin: 50px 0px 0px;
	padding: 70px 25px 40px;
	text-align: center;
}
.intro-block:hover, .intro-block.active{
	background: blue;

}
.intro-block:hover{
	transition: .6s ease;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-o-transition: .6s ease;
	-ms-transition: .6s ease;

}
.intro-block .intro-icon{
	position: absolute;
	top: -31px;
	left: 50%;
	margin-left: -31px;
}
.intro-block .fa{
	width: 63px;
	height: 63px;
	font-size: 30px;
	line-height: 2;
	background-color: yellow;
	border-radius: 50%
	box-shadow:0px 0px 0px 10px #CCEEF9;
}
.intro-block:hover .fa, .intro-block.active .fa{
	background-color: white;
	color: grey;
	box-shadow: box-shadow:0px 0px 0px 10px #CCEEF9;
}
.intro-block h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: black;
	margin-bottom: 15px;

}
.intro-block p{
	color: #505050;

}
.intro-block:hover h3, .intro-block:hover p{
	color: pink;
}
.feature-area{
	background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(..//images/back.jpg);
	background-position: center;
	background-attachment: fixed;
}
.title h2,p {
	color: white;
}
.single-feature h3{
	color: white;

}
.single-feature{
	position: relative;
	width: 325px;
	float: left;
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #65c8e5;
	border-bottom: 1px solid #65c8e5;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
}
.featured-block:after {
	content: "";
	display: table;
}
.featured-icon:after{
	clear: both;
}
.featured-icon {
	display: inline-block;
	margin-bottom: 30px;

}

.feature-block:hover .single-feature{
	border-color: white;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
}
.feature-block:hover .featured-icon .fa{
	border:2px solid #00a7dd;
	background:white;
	color: blue;

}
.single-feature:nth-of-type(even)
{
	border-right: none;
}
.single-feature:nth-last-child(2)
{
	border-bottom: none;
}
.single-feature:last-child
{
	border-bottom: none;
}
.feature-area{
	padding: 100px 0;
}
.title .sub-heading p{
	color: white
}
.more-feature-area .title .sub-heading p{

}
.more-feature-area{
	padding: 100px 0;

}
.feature-list ul{
	list-style: none;

}
.feature-list li{
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
	padding-left: 80px;
}
.feature-list li:hover i{
	color: white;
	background-color: grey;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
}
.featured-icon{
	position: absolute;
	left: 0;
}
.featured-icon i {
	width: 63px;
	height: 63px;
	text-align: center;
	font-size: 30px;
	background-color: white;
	color: grey;
	border-radius: 50%;
	border:2px solid grey;
	line-height: 63px;
}
.featured-details h3{
	color: grey;
	font-weight: 700;
	text-transform: uppercase;

}
.featured-details p{
	color: grey;
	font-weight: 200;
}




















